<h1>Angular App</h1>
<!-- <app-favorite [isFavorite]="post.isFavorite" (change)=onFavoriteChanged($event)></app-favorite> -->
<!-- <bootstrap-panel>
  <ng-container class="heading">Heading</ng-container>
  <div class="body">
    <h2>body text start</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nemo
      accusantium velit cupiditate. Officiis, ab explicabo? Possimus adipisci
      qui optio, esse aut excepturi ullam dolorum quasi enim minus ab asperiores
      et sint aperiam reprehenderit sapiente explicabo, quis cupiditate.
      Voluptates quis vero eos. Magni unde laborum et ex doloremque sapiente
      reprehenderit.
    </p>
  </div>
</bootstrap-panel> -->

<!-- <courses></courses> -->

<!-- <ul class="nav nav-pills">
  <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
  <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div> -->

<!-- <button (click)="onAdd()">Add</button> -->
<!-- <button (click)="loadCourses()">Load Courses</button>
<ul>
  <li *ngFor="let course of courses; trackBy: trackCourse">
    {{ course.name }}
    <button (click)="onChange(course)">Remove</button>
  </li>
</ul> -->

<input type="text" appInputFormat="'uppercase'" />
